.profile-container {
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  grid-template-areas: "left-column right-column";
  padding-top: 20px;
  margin: 40px;
}

.profile-left {
  grid-area: left-column;
}

.profile-right {
  grid-area: right-column;
}

.profile-card,
.personal-info-card {
  background-color: #111;
  padding: 1.25rem;
  border-radius: 8px;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;
  height: 40vh;
}

.personal-info-card h3 {
  text-align: center;
}

.profile-photo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bio-textarea {
  width: 20rem;
  height: 4rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  resize: none;
  background-color: #1d1d1d;
  color: #fff;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-photo:hover .edit-icon {
  opacity: 1;
}

.profile-photo:hover .profile-image {
  opacity: 0.7;
  transform: scale(1.05);
}

.profile-info {
  text-align: center;
}

.profile-info-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info-card {
  display: block;
  text-align: left;
}

.personal-info-card h1 {
  font-size: 20px;
}

.personal-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alterado para alinhar a seção à esquerda */
}

.personal-info-inputs {
  display: flex;
  flex-direction: row; /* Alinha parágrafo e input lado a lado */
  align-items: center;
  gap: 10px; /* Espaço entre o parágrafo e o input */
}

.personal-info-inputs p {
  font-size: 14px;
  margin: 0; /* Remove a margem para alinhamento adequado */
}

.personal-info-inputs input {
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  width: 100%; /* Faz o input ocupar a largura disponível */
  max-width: 250px; /* Limita a largura máxima do input */
}

/* Estilo para socials-info-inputs */
.socials-info-inputs {
  display: flex;
  flex-direction: row; /* Organiza imagem e input lado a lado */
  align-items: center;
  gap: 10px;
}

.socials-info-inputs img {
  width: 30px;
  height: 30px;
}

.socials-info-inputs input {
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  width: 100%;
  max-width: 250px;
}

.social-icon {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.edit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-Button {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.edit-button-edit {
  color: rgb(253, 250, 250);
}

.edit-button-save {
  color: green;
}

.edit-Button:hover {
  opacity: 0.8;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
  .profile-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left-column"
      "right-column";
    margin: 20px;
  }

  .profile-card,
  .personal-info-card {
    padding: 1rem;
    height: auto;
  }

  .profile-image {
    width: 120px;
    height: 120px;
  }

  .profile-photo {
    margin-bottom: 10px;
  }

  .edit-icon {
    font-size: 18px;
  }

  .profile-info-inputs,
  .personal-info-inputs {
    gap: 10px;
  }

  .personal-info-card h1 {
    font-size: 18px;
  }
}

@media (max-width: 430px) {
  .profile-content {
    padding: 5px;
    margin: 5px;
    gap: 1px;
  }

  .profile-card,
  .personal-info-card {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 12px;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }

  .edit-icon {
    font-size: 14px;
  }

  .personal-info-card h1 {
    font-size: 14px;
  }

  .personal-info-section h1 {
    margin: 0px;
  }

  .input-container {
    margin-bottom: 0.2rem;
  }


  .personal-info-inputs p,
  .personal-info-inputs h2 {
    font-size: 12px;
  }

  .profile-left,
  .profile-right {
    display: block;
    text-align: left;
  }

  .profile-right .profile-info,
  .profile-right .profile-info-inputs {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .personal-info-card {
    display: block;
    padding: 1rem;
  }

  .edit-Button {
    font-size: 0.8rem;
    width: 80px;
    height: 40px;
  }

  .profile-image {
    margin-bottom: 0;
    width: 40px;
    height: 40px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.5rem;
  color: #fff;
}
